ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}
a {
  display: block;
  position: relative;
  margin: 1rem 0;
  left: -2rem;
  padding: 2rem 1rem 2rem 1rem;
  width: 5rem;
  height: 5rem;
  color: whitesmoke;
  background-color: slategray;
  border: 1px solid black;
  text-decoration: none;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
}

a:hover {
  background-color: black;
}