body {
  overflow: hidden;
}
#warning {
  margin-left: 5rem;
  animation-play-state: paused;
}
#yoyo {
  width: 2rem;
  height: 2rem;
  left: 5%;
  border: 0.2rem solid blueviolet;
  border-radius: 50%;
  animation: slidein 3s infinite alternate;
}
@keyframes slidein {
from {
  margin-top: -100%;
}
to {
  margin-top: 20%;
}
}