/* Spinner n°1 */

h2 {
  margin-bottom: 15%;
}

.spinner {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 5%;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
}

._one {
  top: 20%;
  border: 0.3rem solid lightgray;
  border-top-color: gray;
  animation: spinner 1s linear infinite;
}

._two {
  top: 55%;
  border: 0.2rem solid transparent;
  border-top-color: gray;
  border-bottom-color: gray;
  animation: spinner 1s ease infinite;
}

._three {
  top: 90%;
  border-top: 0.2rem solid gray;
  border-right: 0.2rem solid transparent;
  animation: spinner 1s linear infinite;
}

._four {
  top: 125%;
  border-top: 0.3rem solid red;
  animation: spinner 1s linear infinite;
}

._four:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: -15%;
  left: -5%;
  width: 6.5rem;
  height: 6.5rem;
  border-top: 0.3rem solid blue;
  border-radius: 50%;
  animation: spinner 1.5s linear infinite;
}


@keyframes spinner {
  to {transform: rotate(360deg);}
}