/* Spinner n°1 */

h2 {
  margin-bottom: 15%;
}

.spinner {
  left: 5%;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

._one {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 20%;
  border: 3px solid lightgray;
  border-top-color: gray;
  animation: spinner 1s linear infinite;
}

._two {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 40%;
  border: 2px solid transparent;
  border-top-color: gray;
  border-bottom-color: gray;
  animation: spinner 1s ease infinite;
}

._three {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 60%;
  border-top: 2px solid gray;
  border-right: 2px solid transparent;
  animation: spinner 1s linear infinite;
}

@keyframes spinner {
  to {transform: rotate(360deg);}
}