#sign {
  margin: 2rem;
  width: 5rem;
  height: 5rem;
  background-color: #c2410e;
  animation: shadow-depop-tr 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}

#sign:hover {
  animation: shadow-pop-tr 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}

@keyframes shadow-pop-tr {
  0% {
    box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
    transform: translateX(0) translateY(0);
  }
  100% {
    box-shadow: 0.1rem -0.1rem #3e3e3e, 0.2rem -0.2rem #3e3e3e, 0.3rem -0.3rem #3e3e3e, 0.4rem -0.4rem #3e3e3e, 0.5rem -0.5rem #3e3e3e, 0.6rem -0.6rem #3e3e3e, 0.7rem -0.7rem #3e3e3e, 0.8rem -0.8rem #3e3e3e;
    transform: translateX(-0.8rem) translateY(0.8rem);

  }
}

@keyframes shadow-depop-tr {
  0% {
    box-shadow: 0.1rem -0.1rem #3e3e3e, 0.2rem -0.2rem #3e3e3e, 0.3rem -0.3rem #3e3e3e, 0.4rem -0.4rem #3e3e3e, 0.5rem -0.5rem #3e3e3e, 0.6rem -0.6rem #3e3e3e, 0.7rem -0.7rem #3e3e3e, 0.8rem -0.8rem #3e3e3e;
    transform: translateX(-0.8rem) translateY(0.8rem);

  }
  100% {
    box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
    transform: translateX(0) translateY(0);
  }
}